<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="dashboard">

<head>
    <title>账号管理</title>
    <link href="../static/css/bootstrap/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
<h2 layout:fragment="title">
    账号管理
</h2>
<div layout:fragment="content" style="width:90%;">
    <div id="displayAccountPanel">
        <div class="clearfix" style="margin-bottom: 10px">
            <div style="float: right">
                <button th:if="${user.canAddPropertyAccount()}" class="btn btn-default" onclick="showAddPropertyModal()">
                    添加物业账号
                </button>
                <button th:if="${user.canAddProprietorAccount()}" class="btn btn-default" onclick="showAddProprietorModal()">
                    添加业主账号
                </button>
            </div>
        </div>

        <div>
            <div class="panel panel-default col-sm-3" >
                <div class="panel-heading">
                    <h3 class="panel-title">
                        本账号权限
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canBasicRead()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canBasicRead()}" class="glyphicon glyphicon-remove"></span>
                            基本读权限
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canPublishDiscussion()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canPublishDiscussion()}" class="glyphicon glyphicon-remove"></span>
                            发布讨论权限
                            <button style="float: right" th:if="${!user.canPublishDiscussion()}" class="btn btn-xs btn-default" onclick="applyAuth(2)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canParticipateDiscussion()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canParticipateDiscussion()}" class="glyphicon glyphicon-remove"></span>
                            参与讨论权限
                            <button style="float: right" th:if="${!user.canParticipateDiscussion()}" class="btn btn-xs btn-default" onclick="applyAuth(4)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canDeleteDiscussion()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canDeleteDiscussion()}" class="glyphicon glyphicon-remove"></span>
                            删除讨论权限
                            <button style="float: right" th:if="${!user.canDeleteDiscussion()}" class="btn btn-xs btn-default" onclick="applyAuth(8)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canPublishMotion()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canPublishMotion()}" class="glyphicon glyphicon-remove"></span>
                            发布提议权限
                            <button style="float: right" th:if="${!user.canPublishMotion()}" class="btn btn-xs btn-default" onclick="applyAuth(16)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canVoteMotion()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canVoteMotion()}" class="glyphicon glyphicon-remove"></span>
                            表决提议权限
                            <button style="float: right" th:if="${!user.canVoteMotion()}" class="btn btn-xs btn-default" onclick="applyAuth(32)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canDeleteMotion()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canDeleteMotion()}" class="glyphicon glyphicon-remove"></span>
                            删除提议权限
                            <button style="float: right" th:if="${!user.canDeleteMotion()}" class="btn btn-xs btn-default" onclick="applyAuth(64)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canPublishInfo()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canPublishInfo()}" class="glyphicon glyphicon-remove"></span>
                            发布公告权限
                            <button style="float: right" th:if="${!user.canPublishInfo()}" class="btn btn-xs btn-default" onclick="applyAuth(128)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canPublishFund()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canPublishFund()}" class="glyphicon glyphicon-remove"></span>
                            发布资金流向权限
                            <button style="float: right" th:if="${!user.canPublishFund()}" class="btn btn-xs btn-default" onclick="applyAuth(256)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canAddProprietorAccount()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canAddProprietorAccount()}" class="glyphicon glyphicon-remove"></span>
                            添加业主账号权限
                            <button style="float: right" th:if="${!user.canAddProprietorAccount()}" class="btn btn-xs btn-default" onclick="applyAuth(512)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canAddPropertyAccount()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canAddPropertyAccount()}" class="glyphicon glyphicon-remove"></span>
                            添加物业账号权限
                            <button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-default" onclick="applyAuth(1024)">申请该权限</button>
                        </li>
                        <li class="list-group-item clearfix">
                            <span th:if="${user.canSuper()}" class="glyphicon glyphicon-ok"></span>
                            <span th:if="${!user.canSuper()}" class="glyphicon glyphicon-remove"></span>
                            超级管理员权限
                            <button style="float: right" th:if="${!user.canSuper()}" class="btn btn-xs btn-default" onclick="applyAuth(2048)">申请该权限</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default col-sm-offset-1 col-sm-8">
                <table id="authApplicationTable" class="table-striped"></table>
            </div>
            <div class="clearfix"></div>
            <div class="panel panel-default col-sm-3" >
                <div class="panel-heading">
                    <h3 class="panel-title">
                        查找账号权限
                    </h3>
                </div>
                <div class="panel-body">
                    <select class="form-control" id="selectUser" onchange="showAuthority()">
                        <option th:each="userItem, itemStat: ${userList}" th:text="${userItem.nickName}"
                                th:attr="
                                addr = ${userItem.address},
                                canBasicRead = ${userItem.canBasicRead()},
                                canPublishDiscussion = ${userItem.canPublishDiscussion()},
                                canParticipateDiscussion = ${userItem.canParticipateDiscussion()},
                                canDeleteDiscussion = ${userItem.canDeleteDiscussion()},
                                canPublishMotion = ${userItem.canPublishMotion()},
                                canVoteMotion = ${userItem.canVoteMotion()},
                                canDeleteMotion = ${userItem.canDeleteMotion()},
                                canPublishInfo = ${userItem.canPublishInfo()},
                                canPublishFund = ${userItem.canPublishFund()},
                                canAddProprietorAccount = ${userItem.canAddProprietorAccount()},
                                canAddPropertyAccount = ${userItem.canAddPropertyAccount()},
                                canSuper = ${userItem.canSuper()}">
                        </option>
                    </select>
                </div>
                <div class="panel-body" id="queryResult">
                </div>
            </div>
            <div class="panel panel-default col-sm-offset-1 col-sm-8">
                <table id="authCancellationTable" class="table-striped"></table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">添加物业账号激活码</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-top: 10px;">
                        <label for="propertyPhone">手机号</label>
                        <input type="text" name="phone" class="form-control" id="propertyPhone" placeholder="请输入注册手机号">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addPropertyActiveCode()">
                        添加
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addProprietorModal" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">添加业主账号激活码</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-top: 10px;">
                        <label for="proprietorPhone">手机号</label>
                        <input type="text" name="phone" class="form-control" id="proprietorPhone" placeholder="请输入注册手机号">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addProprietorActiveCode()">
                        添加
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
<th:block layout:fragment="bottomScriptBlock">
    <script type="text/javascript" src="../static/js/jquery/jquery.md5.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.nav-item').children('ul').slideUp(300);
            $("#accountNav").slideDown(300);
            $("#accountNav").parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');

            showAuthority();

            showAuthApplicationTable();
            showAuthCancellationTable();

        });

        function showAuthApplicationTable() {
            $('#authApplicationTable').bootstrapTable('destroy');
            $.ajax({
                type:"POST",
                url:"/auth/applicationList",
                contentType : 'application/json',
                dataType : 'json',
                success:function (data) {
                    $('#authApplicationTable').bootstrapTable({
                        striped: true,
                        cache: false,
                        pagination: true,
                        pageSize: 15,
                        columns: [
                            [
                                {
                                    title: "权限申请列表",
                                    halign:"center",
                                    align:"center",
                                    colspan: 7
                                }
                            ],
                            [
                                {
                                    field: 'idx',
                                    title: '申请序号'
                                },
                                {
                                    field: 'processing',
                                    title: '处理状态',
                                    formatter: function (value, row, index) {
                                        if (row.processing){
                                            return "投票中";
                                        } else{
                                            return "已结束";
                                        }
                                    }
                                },
                                {
                                    field: 'targetAddr',
                                    title: '目标用户',
                                    formatter: function (value, row, index) {
                                        if (row.targetNickName == null || row.targetNickName == ""){
                                            return row.targetAddr;
                                        } else{
                                            return row.targetNickName + '(' + row.targetAddr + ')';
                                        }
                                    }
                                },
                                {
                                    field: 'approvalCount',
                                    title: '赞成票数'
                                },
                                {
                                    field: 'disapprovalCount',
                                    title: '反对票数'
                                },
                                {
                                    field: 'myVote',
                                    title: '操作',
                                    formatter: function (value, row, index) {
                                        if (row.myVote == 0){
                                            return '<button class="btn btn-primary">同意</button>' +
                                                '<button class="btn btn-warning">反对</button>';
                                        } else if (row.myVote == 1){
                                            return '您已经投赞成票！';
                                        } else if (row.myVote == 2) {
                                            return '您已经投反对票！';
                                        }
                                    }
                                }
                            ]
                        ],
                        data: data
                    })
                }
            });
        }

        function showAuthCancellationTable() {
            $('#authCancellationTable').bootstrapTable('destroy');
            $.ajax({
                type:"POST",
                url:"/auth/cancellationList",
                contentType : 'application/json',
                dataType : 'json',
                success:function (data) {
                    $('#authCancellationTable').bootstrapTable({
                        striped: true,
                        cache: false,
                        pagination: true,
                        pageSize: 15,
                        columns: [
                            [
                                {
                                    title: "权限取消列表",
                                    halign:"center",
                                    align:"center",
                                    colspan: 7
                                }
                            ],
                            [
                                {
                                    field: 'idx',
                                    title: '申请序号'
                                },
                                {
                                    field: 'processing',
                                    title: '处理状态',
                                    formatter: function (value, row, index) {
                                        if (row.processing){
                                            return "投票中";
                                        } else{
                                            return "已结束";
                                        }
                                    }
                                },
                                {
                                    field: 'targetAddr',
                                    title: '目标用户',
                                    formatter: function (value, row, index) {
                                        if (row.targetNickName == null || row.targetNickName == ""){
                                            return row.targetAddr;
                                        } else{
                                            return row.targetNickName + '(' + row.targetAddr + ')';
                                        }
                                    }
                                },
                                {
                                    field: 'approvalCount',
                                    title: '赞成票数'
                                },
                                {
                                    field: 'disapprovalCount',
                                    title: '反对票数'
                                },
                                {
                                    field: 'myVote',
                                    title: '操作',
                                    formatter: function (value, row, index) {
                                        if (row.myVote == 0){
                                            return '<button class="btn btn-primary">同意</button>' +
                                                '<button class="btn btn-warning">反对</button>';
                                        } else if (row.myVote == 1){
                                            return '您已经投赞成票！';
                                        } else if (row.myVote == 2) {
                                            return '您已经投反对票！';
                                        }
                                    }
                                }
                            ]
                        ],
                        data: data
                    })
                }
            });
        }

        function showAddPropertyModal() {
            $('#addPropertyModal').modal("show");
        }

        function showAddProprietorModal() {
            $('#addProprietorModal').modal("show");
        }

        function addPropertyActiveCode() {
            $.ajax({
                type:"POST",
                url:"/account/addPropertyActiveCode",
                dataType : 'json',
                data:{
                    "encryptedPhone": $.md5($("#propertyPhone").val())
                },
                success:function (data) {
                    alert("添加成功");
                    $("#addPropertyModal").modal("hide");
                }
            })
        }

        function addProprietorActiveCode() {
            $.ajax({
                type:"POST",
                url:"/account/addProprietorActiveCode",
                dataType : 'json',
                data:{
                    "encryptedPhone": $.md5($("#proprietorPhone").val())
                },
                success:function (data) {
                    alert("添加成功");
                    $("#addProprietorModal").modal("hide");
                }
            })
        }

        function showAuthority() {
            var selectedUser = $("#selectUser option:selected");

            var html = '<ul class="list-group">';
            if (selectedUser.attr("canBasicRead")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 基本读权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(1)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 基本读权限</li>';
            }

            if (selectedUser.attr("canPublishDiscussion")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 发布讨论权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(2)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 发布讨论权限</li>';
            }

            if (selectedUser.attr("canParticipateDiscussion")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 参与讨论权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(4)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 参与讨论权限</li>';
            }

            if (selectedUser.attr("canDeleteDiscussion")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 删除讨论权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(8)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 删除讨论权限</li>';
            }

            if (selectedUser.attr("canPublishMotion")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 发布提议权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(16)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 发布提议权限</li>';
            }

            if (selectedUser.attr("canVoteMotion")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 表决提议权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(32)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 表决提议权限</li>';
            }

            if (selectedUser.attr("canDeleteMotion")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 删除提议权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(64)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 删除提议权限</li>';
            }

            if (selectedUser.attr("canPublishInfo")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 发布公告权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(128)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 发布公告权限</li>';
            }

            if (selectedUser.attr("canPublishFund")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 发布资金流向权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(256)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 发布资金流向权限</li>';
            }

            if (selectedUser.attr("canAddProprietorAccount")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 添加业主账号权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(512)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 添加业主账号权限</li>';
            }

            if (selectedUser.attr("canAddPropertyAccount")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 添加物业账号权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(1024)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 添加物业账号权限</li>';
            }

            if (selectedUser.attr("canSuper")=='true') {
                html += '<li class="list-group-item clearfix"><span class="glyphicon glyphicon-ok"></span> 超级管理员权限<button style="float: right" th:if="${!user.canAddPropertyAccount()}" class="btn btn-xs btn-warning" onclick="cancelAuth(2048)">申请取消该权限</button></li>';
            }else{
                html += '<li class="list-group-item"><span class="glyphicon glyphicon-remove"></span> 超级管理员权限</li>';
            }
            html += '</ul>';

            $("#queryResult").html(html);
        }

        function applyAuth(auth) {
            $.ajax({
                type:"POST",
                url:"/auth/apply",
                dataType : 'json',
                data:{
                    "auth": auth
                },
                success:function (data) {
                    showAuthApplicationTable()
                }
            })
        }

        function cancelAuth(auth) {
            var selectedUser = $("#selectUser option:selected");
            var targetAddr = selectedUser.attr("addr");
            $.ajax({
                type:"POST",
                url:"/auth/cancel",
                dataType : 'json',
                data:{
                    "auth": auth,
                    "targetAddr": targetAddr
                },
                success:function (data) {
                    showAuthCancellationTable();
                }
            })
        }
    </script>
</th:block>
</body>
</html>