<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="dashboard">

<head>
    <title>积分管理</title>
    <link href="../static/css/bootstrap/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
<h2 layout:fragment="title">
    积分管理
</h2>
<div layout:fragment="content" style="width:90%;">
    <div id="displayCreditPanel">
        <input type="hidden" id="myAddress" th:value="${user.address}">
        <h3>本账号积分： <span th:text="${myCredit.credit}"></span></h3>
        <div class="clearfix">
            <div class="panel panel-default col-sm-6">
                <table id="myCreditLogsTable" class="table-striped"></table>
            </div>
        </div>
        <div class="clearfix">
            <div class="panel panel-default col-sm-5">
                <table id="allCreditsTable" class="table-striped"></table>
            </div>
            <div class="panel panel-default col-sm-offset-1 col-sm-6">
                <table id="CreditLogsTable" class="table-striped"></table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCreditModal" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">增加积分</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-top: 10px;">
                        <label for="userNameForAdd">用户名</label>
                        <input type="text" name="userName" class="form-control" id="userNameForAdd" disabled>
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="userIdForAdd">用户ID</label>
                        <input type="text" name="userId" class="form-control" id="userIdForAdd" disabled>
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="creditChangeForAdd">增加积分</label>
                        <input type="text" name="creditChange" class="form-control" id="creditChangeForAdd" placeholder="请输入增加的积分">
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="remarkForAdd">备注</label>
                        <input type="text" name="remark" class="form-control" id="remarkForAdd" placeholder="请输入备注">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addCredit()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="decreaseCreditModal" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">减少积分</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-top: 10px;">
                        <label for="userNameForDecrease">用户名</label>
                        <input type="text" name="userName" class="form-control" id="userNameForDecrease" disabled>
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="userIdForDecrease">用户ID</label>
                        <input type="text" name="userId" class="form-control" id="userIdForDecrease" disabled>
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="creditChangeForDecrease">减少积分</label>
                        <input type="text" name="creditChange" class="form-control" id="creditChangeForDecrease" placeholder="请输入减少的积分">
                    </div>
                    <div style="margin-top: 10px;">
                        <label for="remarkForDecrease">备注</label>
                        <input type="text" name="remark" class="form-control" id="remarkForDecrease" placeholder="请输入备注">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="decreaseCredit()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="bottomScriptBlock">
    <script type="text/javascript" src="../static/js/jquery/jquery.md5.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.nav-item').children('ul').slideUp(300);
            $("#accountNav").slideDown(300);
            $("#accountNav").parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');

            refreshMyCreditLogsTable();
            refreshAllCreditsTable();
        });

        function refreshMyCreditLogsTable() {
            $('#myCreditLogsTable').bootstrapTable('destroy');
            $.ajax({
                type:"POST",
                url:"/credit/logs",
                dataType : 'json',
                data:{
                    "userId": $("#myAddress").val()
                },
                success:function (data) {
                    $('#myCreditLogsTable').bootstrapTable({
                        striped: true,
                        cache: false,
                        pagination: true,
                        pageSize: 10,
                        columns: [
                            [
                                {
                                    title: "积分日志",
                                    halign:"center",
                                    align:"center",
                                    colspan: 3
                                }
                            ],
                            [
                                {
                                    field: 'createTime',
                                    title: '时间',
                                    formatter: function (value, row, index) {
                                        return timestampToTime(value);
                                    }
                                },
                                {
                                    field: 'creditChange',
                                    title: '积分变化',
                                    formatter: function (value, row, index) {
                                        if (value >= 0) {
                                            return '+' + value;
                                        }else {
                                            return '- ' + (-value);
                                        }
                                    }
                                },
                                {
                                    field: 'remark',
                                    title: '备注'
                                }
                            ]
                        ],
                        data: data
                    })
                }
            });
        }

        function refreshAllCreditsTable() {
            $('#allCreditsTable').bootstrapTable('destroy');
            $.ajax({
                type:"POST",
                url:"/credit/all",
                dataType : 'json',
                success:function (data) {
                    $('#allCreditsTable').bootstrapTable({
                        striped: true,
                        cache: false,
                        pagination: true,
                        pageSize: 10,
                        columns: [
                            [
                                {
                                    title: "系统用户积分",
                                    halign:"center",
                                    align:"center",
                                    colspan: 3
                                }
                            ],
                            [
                                {
                                    field: 'userId',
                                    title: '用户',
                                    formatter: function (value, row, index) {
                                        if (row.userName == null || row.userName == "") {
                                            return row.userId;
                                        } else {
                                            return row.userName + '(' + row.userId.substring(row.userId.length, row.userId.length - 8) + ')';
                                        }
                                    }
                                },
                                {
                                    field: 'credit',
                                    title: '积分'
                                },
                                {
                                    title: '操作',
                                    formatter: function (value, row, index) {
                                        var operation =  '<button class="btn btn-xs btn-primary" userId="'+ row.userId + '"  onclick="refreshCreditLogsTable(this)">查看详细日志</button>';
                                        if ([[${user.canSuper()}]]){
                                            operation += '<button class="btn btn-xs btn-warning" userId="'+ row.userId + '" userName="' + row.userName + '" onclick="showAddCreditModal(this)">增加积分</button>';
                                            operation += '<button class="btn btn-xs btn-warning" userId="'+ row.userId + '" userName="' + row.userName + '" onclick="showDecreaseCreditModal(this)">减少积分</button>';
                                        }
                                        return operation;
                                    }
                                }
                            ]
                        ],
                        data: data
                    })
                }
            });
        }

        function refreshCreditLogsTable(obj) {
            $('#CreditLogsTable').bootstrapTable('destroy');
            $.ajax({
                type:"POST",
                url:"/credit/logs",
                dataType : 'json',
                data:{
                    "userId": $(obj).attr("userId")
                },
                success:function (data) {
                    $('#CreditLogsTable').bootstrapTable({
                        striped: true,
                        cache: false,
                        pagination: true,
                        pageSize: 10,
                        columns: [
                            [
                                {
                                    title: "用户积分详细日志",
                                    halign:"center",
                                    align:"center",
                                    colspan: 4
                                }
                            ],
                            [
                                {
                                    field: 'createTime',
                                    title: '时间',
                                    formatter: function (value, row, index) {
                                        return timestampToTime(value);
                                    }
                                },
                                {
                                    field: 'userId',
                                    title: '用户',
                                    formatter: function (value, row, index) {
                                        if (row.userName == null || row.userName == "") {
                                            return row.userId;
                                        } else {
                                            return row.userName + '(' + row.userId.substring(row.userId.length, row.userId.length - 8) + ')';
                                        }
                                    }
                                },
                                {
                                    field: 'creditChange',
                                    title: '积分变化',
                                    formatter: function (value, row, index) {
                                        if (value >= 0) {
                                            return '+' + value;
                                        }else {
                                            return '- ' + (-value);
                                        }
                                    }
                                },
                                {
                                    field: 'remark',
                                    title: '备注'
                                }
                            ]
                        ],
                        data: data
                    })
                }
            });
        }

        function showAddCreditModal(obj) {
            $('#userIdForAdd').val($(obj).attr("userId"));
            $('#userNameForAdd').val($(obj).attr("userName"));
            $('#creditChangeForAdd').val(0);
            $('#remarkForAdd').val("");
            $('#addCreditModal').modal("show");
        }

        function showDecreaseCreditModal(obj) {
            $('#userIdForDecrease').val($(obj).attr("userId"));
            $('#userNameForDecrease').val($(obj).attr("userName"));
            $('#creditChangeForDecrease').val(0);
            $('#remarkForDecrease').val("");
            $('#decreaseCreditModal').modal("show");
        }

        function addCredit() {
            var userId = $('#userIdForAdd').val();
            var creditChange = $('#creditChangeForAdd').val();
            var remark = $('#remarkForAdd').val();
            $.ajax({
                type:"POST",
                url:"/credit/update",
                contentType : 'application/json',
                dataType : 'json',
                data:JSON.stringify({
                    "userId": userId,
                    "creditChange": creditChange,
                    "remark": remark
                }),
                success:function (data) {
                    $('#addCreditModal').modal("hide");
                    alert("增加成功");
                    refreshAllCreditsTable();
                    refreshMyCreditLogsTable();
                    $('#CreditLogsTable').bootstrapTable('destroy');
                }
            })
        }

        function decreaseCredit() {
            var userId = $('#userIdForDecrease').val();
            var creditChange = $('#creditChangeForDecrease').val();
            var remark = $('#remarkForDecrease').val();
            $.ajax({
                type:"POST",
                url:"/credit/update",
                contentType : 'application/json',
                dataType : 'json',
                data:JSON.stringify({
                    "userId": userId,
                    "creditChange": -creditChange,
                    "remark": remark
                }),
                success:function (data) {
                    $('#decreaseCreditModal').modal("hide");
                    alert("减少成功");
                    refreshAllCreditsTable();
                    refreshMyCreditLogsTable();
                    $('#CreditLogsTable').bootstrapTable('destroy');
                }
            })
        }

        function timestampToTime(timestamp) {
            var date = new Date(timestamp);
            Y = date.getFullYear() + '-';
            M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            D = (date.getDate()<10 ? '0'+(date.getDate()) : date.getDate()) + ' ';
            h = date.getHours() + ':';
            m = (date.getMinutes() < 10 ? '0'+(date.getMinutes()) : date.getMinutes()) + ':';
            s = (date.getSeconds() < 10 ? '0'+(date.getSeconds()) : date.getSeconds());
            return Y+M+D+h+m+s;
        }

    </script>
</th:block>
</body>
</html>