<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="dashboard">

<head>
    <title>小区论坛</title>
</head>
<body>
<h2 layout:fragment="title">
    小区论坛
</h2>

<div layout:fragment="content" style="width:90%;">
    <div id="displayDiscussionPanel">
        <div class="clearfix" style="margin-bottom: 10px">
            <div style="float: left">
                <a class="btn btn-default" th:href="@{/forum(page=${forumPage})}">
                    ←返回
                </a>
            </div>
        </div>

        <div class="info panel panel-default" th:id="'discussion'+${discussion.id}" >
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${discussion.title}" style="text-align: center">标题</h3>
            </div>
            <div class="panel-body">
                <p th:text="${discussion.content}" style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;">内容</p>
                <HR style="FILTER: alpha(opacity = 0,finishopacity = 100,style = 1)" width="100%" color=#333333 SIZE=3>
                <div class="clearfix">
                    <div style="float:right">
                        <div>
                            <small><span th:text="${discussion.authorName}"></span>发布于<span th:text="${#dates.format(discussion.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span></small>
                        </div>
                        <div>
                            <small>最新回复于<span th:text="${#dates.format(discussion.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></span></small>
                        </div>
                    </div>
                </div>
                <HR style="FILTER: alpha(opacity = 0,finishopacity = 100,style = 1)" width="100%" color=#333333 SIZE=6>

                <div th:each="reply,iterstat: ${replies}">
                    <div class="info panel panel-info col-sm-12">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span th:text="${reply.authorName}"></span> 回复于 <span th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span></h3>
                        </div>
                        <div class="panel-body">
                            <p th:text="${reply.content}" style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;">内容</p>
                        </div>
                        <div class="panel-footer" th:if="${user.address == reply.authorId || user.canDeleteDiscussion()}">
                            <button class="btn btn-warning" onclick="deleteReply(this)" style="float:right" th:attr = "replyId = ${reply.id}">
                                删除回复
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addDiscussionPanel" class="form-horizontal">
            <div class="form-group">
                <label for="replyContent" class="col-sm-1 control-label">回复</label>
                <div class="col-sm-11">
                    <textarea rows="6" name="content" class="form-control" id="replyContent" placeholder="请输入回复"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div style="float: right">
                    <button class="btn btn-primary" onclick="submitReply()">回复</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="paginator" style="text-align: center"> <ul id="pageLimit"></ul> </div>
    </div>
</div>

<th:block layout:fragment="bottomScriptBlock">
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-paginator.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.nav-item').children('ul').slideUp(300);
            $("#forumNav").slideDown(300);
            $("#forumNav").parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');

            $('#pageLimit').bootstrapPaginator({
                currentPage: [[${page}]],
                totalPages: [[${totalPage}]],
                size:"normal",
                bootstrapMajorVersion: 3,
                alignment:"right",
                numberOfPages:5,
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first": return "首页";
                        case "prev": return "上一页";
                        case "next": return "下一页";
                        case "last": return "末页";
                        case "page": return page;
                    }
                },
                pageUrl:function (type, page, current) {
                    return "/forum/discussion?id=" + [[${discussion.id}]] + "&page=" + page + "&forumPage=" + [[${forumPage}]];
                }
            });
        });

        function submitReply() {
            $.ajax({
                type:"POST",
                url:"/forum/reply/add",
                dataType : 'json',
                data:{
                    "discussionId": [[${discussion.id}]],
                    "content": $("#replyContent").val()
                },
                success:function (data) {
                    alert("回复成功");
                    window.location.reload();
                }
            })
        }

        function deleteReply(reply) {
            $.ajax({
                type:"POST",
                url:"/forum/reply/delete",
                dataType : 'json',
                data:{
                    "id": $(reply).attr("replyId")
                },
                success:function (data) {
                    alert("删除成功");
                    window.location.reload();
                }
            })
        }
    </script>
</th:block>
</body>
</html>