<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="dashboard">

<head>
    <title>小区论坛</title>
</head>
<body>
<h2 layout:fragment="title">
    小区论坛
</h2>

<div layout:fragment="content" style="width:90%;">
    <div id="displayDiscussionsPanel">
        <div class="clearfix" style="margin-bottom: 10px">
            <div style="float: right">
                <button th:if="${user.canPublishDiscussion()}" class="btn btn-default" id="publishInfoBtn" onclick="showAddDiscussionPanel()">
                    新建讨论
                </button>
            </div>
        </div>
        <div th:each="discussion,iterstat: ${discussions}">
            <div class="info panel panel-default col-sm-6" th:id="'discussion'+${discussion.id}" >
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${discussion.title}">标题</h3>
                </div>
                <div class="panel-body">
                    <p th:text="${discussion.content}" style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;">内容</p>
                    <HR style="FILTER: alpha(opacity = 0,finishopacity = 100,style = 1)" width="100%" color=#333333 SIZE=3>
                    <div class="clearfix">
                        <div style="float:left">
                            <div>
                                <small><span th:text="${discussion.authorName}"></span>发布于<span th:text="${#dates.format(discussion.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span></small>
                            </div>
                            <div>
                                <small>最新回复于 <span th:text="${#dates.format(discussion.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></span></small>
                            </div>
                        </div>
                        <button th:if="${user.address == discussion.authorId || user.canDeleteDiscussion()}" class="btn btn-warning" onclick="deleteDiscussion(this)" style="float:right" th:attr = "discussionId = ${discussion.id}">
                            删除讨论
                        </button>
                        <a class="btn btn-default" style="float:right" th:href="@{/forum/discussion(id=${discussion.id},forumPage=${page})}">
                            查看详情
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="paginator" style="text-align: center"> <ul id="pageLimit"></ul> </div>
    </div>

    <div id="addDiscussionPanel" class="form-horizontal" hidden="hidden">
        <h3  class="col-sm-offset-1" style="text-align: center"><b>新建讨论</b></h3>
        <div class="form-group">
            <label for="discussionTitle" class="col-sm-1 control-label">标题</label>
            <div class="col-sm-11">
                <input type="text" name="title" class="form-control" id="discussionTitle" placeholder="请输入标题">
            </div>
        </div>
        <div class="form-group">
            <label for="discussionContent" class="col-sm-1 control-label">内容</label>
            <div class="col-sm-11">
                <textarea rows="10" name="content" class="form-control" id="discussionContent" placeholder="请输入内容"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button class="btn btn-default" onclick="showDisplayDiscussionsPanel()">取消</button>
                <button class="btn btn-primary" onclick="submitDiscussion()">发布</button>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="bottomScriptBlock">

    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-paginator.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.nav-item').children('ul').slideUp(300);
            $("#forumNav").slideDown(300);
            $("#forumNav").parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');

            $('#pageLimit').bootstrapPaginator({
                currentPage: [[${page}]],
                totalPages: [[${totalPage}]],
                size:"normal",
                bootstrapMajorVersion: 3,
                alignment:"right",
                numberOfPages:5,
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first": return "首页";
                        case "prev": return "上一页";
                        case "next": return "下一页";
                        case "last": return "末页";
                        case "page": return page;
                    }
                },
                pageUrl:function (type, page, current) {
                    return "/forum?page=" + page;
                }
            });
        })

        function showDisplayDiscussionsPanel() {
            $("#addDiscussionPanel").hide();
            $("#displayDiscussionsPanel").show();
        }

        function showAddDiscussionPanel() {
            $("#displayDiscussionsPanel").hide();
            $("#addDiscussionPanel").show();
        }

        function submitDiscussion() {
            $.ajax({
                type:"POST",
                url:"/forum/discussion/add",
                dataType : 'json',
                data:{
                    "title": $("#discussionTitle").val(),
                    "content": $("#discussionContent").val()
                },
                success:function (data) {
                    alert("发布成功");
                    window.location.reload();
                }
            })
        }

        function deleteDiscussion(discussion) {
            $.ajax({
                type:"POST",
                url:"/forum/discussion/delete",
                dataType : 'json',
                data:{
                    "id": $(discussion).attr("discussionId")
                },
                success:function (data) {
                    alert("删除成功");
                    window.location.reload();
                }
            })
        }
    </script>
</th:block>
</body>
</html>