<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="dashboard">

<head>
    <title>资金公示</title>
    <link href="../static/css/bootstrap/fileinput.min.css" rel="stylesheet">
    <link href="../static/css/Chart.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
<h2 layout:fragment="title">
    资金公告
</h2>
<div layout:fragment="content" style="width:90%;">
    <div id="displayFundPanel">
        <div class="clearfix" style="margin-bottom: 10px">
            <div style="float: left"><h4>总余额：<span id="totalBalance">0</span>分</h4></div>
            <div style="float: right">
                <button class="btn btn-default" onclick="showChartPanel()">
                    查看收支图表
                </button>
                <button class="btn btn-default" onclick="showIncomeDetailPanel()">
                    查看收入明细
                </button>
                <button class="btn btn-default" onclick="showExpenseDetailPanel()">
                    查看支出明细
                </button>
                <button th:if="${user.canPublishFund()}" class="btn btn-default" onclick="showAddIncomePanel()">
                    添加收入条目
                </button>
                <button th:if="${user.canPublishFund()}" class="btn btn-default" onclick="showAddExpensePanel()">
                    添加支出条目
                </button>
            </div>
        </div>

        <div id="chartPanel">
            <div>
                <div class="clearfix">
                    <label for="expenseMonth" class="col-sm-1">月支出情况</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="expenseMonth" onchange="changeExpenseChart()">
                        </select>
                    </div>
                </div>
                <div id="expenseChartContainer">
                </div>

            </div>
            <div>
                <div class="form-group clearfix">
                    <label for="incomeMonth" class="col-sm-1 control-label">月收入情况</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="incomeMonth" onchange="changeIncomeChart()">
                        </select>
                    </div>
                </div>
                <div id="incomeChartContainer">
                </div>
            </div>
        </div>

        <div id="expenseDetailPanel" hidden="hidden">
            <table id="expenseDetailTable" class="table-striped"></table>
        </div>

        <div id="incomeDetailPanel" hidden="hidden">
            <table id="incomeDetailTable" class="table-striped"></table>
        </div>
    </div>

    <div id="addIncomePanel" class="form-horizontal" hidden="hidden">
        <h3  class="col-sm-offset-1" style="text-align: center"><b>添加收入条目</b></h3>
        <div class="form-group">
            <div class="form-group clearfix">
                <div class="col-sm-6">
                    <label for="incomePayer" class="col-sm-2 control-label">付款方</label>
                    <div class="input-group">
                        <input type="text" name="payer" class="form-control" id="incomePayer" placeholder="请输入付款方">
                        <span class="input-group-btn">
							<button class="btn btn-default" onclick="showSearchPhoneModal('#incomePayer')" >查找账号</button>
						</span>
                    </div>
                </div>
                <div class="col-sm-6 form-inline">
                    <label for="incomeAmountInCents" class="col-sm-2 control-label">金额(分)</label>
                    <input type="text" name="amountInCents" class="form-control" id="incomeAmountInCents" placeholder="请输入金额，单位分">
                </div>
            </div>

            <div class="form-group clearfix">
                <label for="incomeDesc" class="col-sm-1 control-label">描述</label>
                <div class="col-sm-11">
                    <textarea rows="4" name="content" class="form-control" id="incomeDesc" placeholder="请输入描述（255字以内）"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="incomeAttachments" class="col-sm-1 control-label">添加附件</label>
            <div class="col-sm-11 form-inline">
                <input id="incomeAttachments" multiple type="file" name="attachments" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button class="btn btn-default" onclick="showDisplayFundPanel()">取消</button>
                <button class="btn btn-primary" onclick="addIncome()">发布</button>
            </div>
        </div>
    </div>

    <div id="addExpensePanel" class="form-horizontal" hidden="hidden">
        <h3  class="col-sm-offset-1" style="text-align: center"><b>添加支出条目</b></h3>
        <div class="form-group">

            <div class="form-group clearfix">
                <div class="col-sm-6">
                    <label for="expensePayee" class="col-sm-2 control-label">收款方</label>
                    <div class="input-group">
                        <input type="text" name="payer" class="form-control" id="expensePayee" placeholder="请输入收款方">
                        <span class="input-group-btn">
							<button class="btn btn-default" onclick="showSearchPhoneModal('#expensePayee')" >查找账号</button>
						</span>
                    </div>
                </div>
                <div class="col-sm-6 form-inline">
                    <label for="expenseAmountInCents" class="col-sm-2 control-label">金额(分)</label>
                    <input type="text" name="amountInCents" class="form-control" id="expenseAmountInCents" placeholder="请输入金额，单位分">
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="expenseDesc" class="col-sm-1 control-label">描述</label>
                <div class="col-sm-11">
                    <textarea rows="4" name="content" class="form-control" id="expenseDesc" placeholder="请输入描述（255字以内）"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="expenseAttachments" class="col-sm-1 control-label">添加附件</label>
            <div class="col-sm-11 form-inline">
                <input id="expenseAttachments" multiple type="file" name="attachments" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button class="btn btn-default" onclick="showDisplayFundPanel()">取消</button>
                <button class="btn btn-primary" onclick="addExpense()">发布</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="phoneSearchModal" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="editTitle">
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="writeBackSelector">
                    <label for="phone">手机号</label>
                    <input id="phone" class="form-control" type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="searchUserByPhone()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="bottomScriptBlock">
    <script type="text/javascript" src="../static/js/jquery/jquery.md5.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/fileinput.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/fileinput-locale-zh.js"></script>
    <script type="text/javascript" src="../static/js/Chart.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript">
        var totalIncome = -1;
        var totalExpense = -1;
        var expenseMap;
        var incomeMap;

        $(function () {
            $('.nav-item').children('ul').slideUp(300);
            $("#infoNav").slideDown(300);
            $("#infoNav").parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');

            $.ajax({
                type:"POST",
                url:"/publicity/expense",
                contentType : 'application/json',
                dataType : 'json',
                success:function (data) {
                    var expenses = [];
                    expenseMap = data;
                    for (var month in expenseMap){
                        $("#expenseMonth").append(
                            "<option value=" + month +">" + month + "</option>"
                        );
                        expenses = expenses.concat(expenseMap[month]);
                    }
                    $("#expenseMonth option:last").attr('selected', true);
                    var expenseTemp = 0;
                    $.each(expenses, function (i, item) {
                        expenseTemp += item.amountInCents;
                    });
                    totalExpense = expenseTemp;
                    if (totalIncome > -1 && totalExpense > -1){
                        $("#totalBalance").html(totalIncome - totalExpense);
                    }
                    changeExpenseChart();
                    $('#expenseDetailTable').bootstrapTable({
                        striped: true,
                        cache: false,
                        pagination: true,
                        pageSize: 15,
                        columns: [
                            [
                                {
                                    title: "支出明细",
                                    halign:"center",
                                    align:"center",
                                    colspan: 7
                                }
                            ],
                            [
                                {
                                    field: 'idx',
                                    title: '交易序号'
                                },
                                {
                                    field: 'payee',
                                    title: '收款方',
                                    formatter: function (value, row, index) {
                                        if (row.payeeName == null || row.payeeName == ""){
                                            return row.payee;
                                        } else{
                                            return row.payeeName + '(' + row.payee + ')';
                                        }
                                    }
                                },
                                {
                                    field: 'recorderHash',
                                    title: '记录人',
                                    formatter: function (value, row, index) {
                                        if (row.recorderName == null || row.recorderName == ""){
                                            return row.recorderHash;
                                        } else{
                                            return row.recorderName + '(' + row.recorderHash + ')';
                                        }
                                    }
                                },
                                {
                                    field: 'amountInCents',
                                    title: '金额（分）'
                                },
                                {
                                    field: 'desc',
                                    title: '描述'
                                },
                                {
                                    field: 'timestamp',
                                    title: '时间',
                                    formatter: function (value, row, index) {
                                        return timestampToTime(value);
                                    }
                                },
                                {
                                    field: 'attachments',
                                    title: '附件',
                                    formatter: function (value, row, index) {
                                        var fileHashes = [];
                                        var fileNames = [];
                                        $.each(row.attachments, function (k, v) {
                                            fileHashes.push(k);
                                            fileNames.push(v);
                                        })
                                        var ul = '<ul>';
                                        for (var i= 0; i<fileHashes.length; ++i){
                                            var fileHash = fileHashes[i];
                                            var fileName = fileNames[i];
                                            ul += '<li>';
                                            ul += '<a onclick="downloadFile(\'' + fileHash + '\',\'' + fileName +'\')" >';
                                            ul += fileName;
                                            ul += '</a></li>';
                                        }
                                        ul += '</ul>'
                                        return ul;
                                    }
                                }
                            ]
                        ],
                        data: expenses
                    })
                }
            });

            $.ajax({
                type:"POST",
                url:"/publicity/income",
                contentType : 'application/json',
                dataType : 'json',
                success:function (data) {
                    var incomes = [];
                    incomeMap = data;
                    for (var month in incomeMap){
                        $("#incomeMonth").append(
                            "<option value=" + month +">" + month + "</option>"
                        );
                        incomes = incomes.concat(incomeMap[month]);
                    }
                    $("#incomeMonth option:last").attr('selected', true);
                    changeIncomeChart();
                    var incomeTemp = 0;
                    $.each(incomes, function (i, item) {
                        incomeTemp += item.amountInCents;
                    });
                    totalIncome = incomeTemp;
                    if (totalIncome > -1 && totalExpense > -1){
                        $("#totalBalance").html(totalIncome - totalExpense);
                    }
                    $("#totalBalance").attr("balance", totalBalance);
                    $('#incomeDetailTable').bootstrapTable({
                        striped: true,
                        cache: false,
                        pagination: true,
                        pageSize: 15,
                        columns: [
                            [
                                {
                                    title: "收入明细",
                                    halign:"center",
                                    align:"center",
                                    colspan: 7
                                }
                            ],
                            [
                                {
                                    field: 'idx',
                                    title: '交易序号'
                                },
                                {
                                    field: 'payer',
                                    title: '付款方',
                                    formatter: function (value, row, index) {
                                        if (row.payerName == null || row.payerName == ""){
                                            return row.payer;
                                        } else{
                                            return row.payerName + '(' + row.payer + ')';
                                        }
                                    }
                                },
                                {
                                    field: 'recorderHash',
                                    title: '记录人',
                                    formatter: function (value, row, index) {
                                        if (row.recorderName == null || row.recorderName == ""){
                                            return row.recorderHash;
                                        } else{
                                            return row.recorderName + '(' + row.recorderHash + ')';
                                        }
                                    }
                                },
                                {
                                    field: 'amountInCents',
                                    title: '金额（分）'
                                },
                                {
                                    field: 'desc',
                                    title: '描述'
                                },
                                {
                                    field: 'timestamp',
                                    title: '时间',
                                    formatter: function (value, row, index) {
                                        return timestampToTime(value);
                                    }
                                },
                                {
                                    field: 'attachments',
                                    title: '附件',
                                    formatter: function (value, row, index) {
                                        var fileHashes = [];
                                        var fileNames = [];
                                        $.each(row.attachments, function (k, v) {
                                            fileHashes.push(k);
                                            fileNames.push(v);
                                        })
                                        var ul = '<ul>';
                                        for (var i= 0; i<fileHashes.length; ++i){
                                            var fileHash = fileHashes[i];
                                            var fileName = fileNames[i];
                                            ul += '<li>';
                                            ul += '<a onclick="downloadFile(\'' + fileHash + '\',\'' + fileName +'\')" >';
                                            ul += fileName;
                                            ul += '</a></li>';
                                        }
                                        ul += '</ul>'
                                        return ul;
                                    }
                                }
                            ]
                        ],
                        data: incomes
                    })
                }
            });

            $("#incomeAttachments").fileinput({
                language: 'zh', //设置语言
                uploadUrl: "/publicity/addIncome", //上传的地址
                allowedFileExtensions: ['jpg', 'gif', 'png','doc','docx','pdf','ppt','pptx','xls','xlsx'],//接收的文件后缀
                uploadAsync: false, //默认异步上传
                showUpload: false, //是否显示上传按钮
                showRemove : true, //显示移除按钮
                showPreview : true, //是否显示预览
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                //dropZoneEnabled: true,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                maxFileSize: 10000,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                //maxFileCount: 10, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates :{
                    // actionDelete:'', //去除上传预览的缩略图中的删除图标
                    actionUpload:'',//去除上传预览缩略图中的上传图片；
                    actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
                },
                uploadExtraData:function () {
                    return {
                        "payer": $("#incomePayer").val(),
                        "amountInCents": $("#incomeAmountInCents").val(),
                        "desc":$("#incomeDesc").val()
                    };
                }
            }).on("filebatchuploadsuccess", function (event, data, previewId, index) {
                alert('添加成功！');
                window.location.href="/publicity/fund";
            }).on('filebatchuploaderror', function(event, data, msg) {
                alert('添加失败！');
            });

            $("#expenseAttachments").fileinput({
                language: 'zh', //设置语言
                uploadUrl: "/publicity/addExpense", //上传的地址
                allowedFileExtensions: ['jpg', 'gif', 'png','doc','docx','pdf','ppt','pptx','xls','xlsx'],//接收的文件后缀
                uploadAsync: false, //默认异步上传
                showUpload: false, //是否显示上传按钮
                showRemove : true, //显示移除按钮
                showPreview : true, //是否显示预览
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                //dropZoneEnabled: true,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                maxFileSize: 10000,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                //maxFileCount: 10, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates :{
                    // actionDelete:'', //去除上传预览的缩略图中的删除图标
                    actionUpload:'',//去除上传预览缩略图中的上传图片；
                    actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
                },
                uploadExtraData:function () {
                    return {
                        "payee": $("#expensePayee").val(),
                        "amountInCents": $("#expenseAmountInCents").val(),
                        "desc":$("#expenseDesc").val()
                    };
                }
            }).on("filebatchuploadsuccess", function (event, data, previewId, index) {
                alert('添加成功！');
                window.location.href="/publicity/fund";
            }).on('filebatchuploaderror', function(event, data, msg) {
                alert('添加失败！');
            });
        });

        function showDisplayFundPanel() {
            $("#addExpensePanel").hide();
            $("#addIncomePanel").hide();
            $("#displayFundPanel").show();
        }

        function showAddIncomePanel() {
            $("#displayFundPanel").hide();
            $("#addExpensePanel").hide();
            $("#addIncomePanel").show();
        }

        function showAddExpensePanel() {
            $("#displayFundPanel").hide();
            $("#addIncomePanel").hide();
            $("#addExpensePanel").show();
        }

        function showChartPanel() {
            $("#expenseDetailPanel").hide();
            $("#incomeDetailPanel").hide();
            $("#chartPanel").show();
        }

        function showExpenseDetailPanel() {
            $("#incomeDetailPanel").hide();
            $("#chartPanel").hide();
            $("#expenseDetailPanel").show();
        }

        function showIncomeDetailPanel() {
            $("#expenseDetailPanel").hide();
            $("#chartPanel").hide();
            $("#incomeDetailPanel").show();
        }

        function addIncome() {
            $("#incomeAttachments").fileinput("upload");
        }

        function addExpense() {
            $("#expenseAttachments").fileinput("upload");
        }

        function changeExpenseChart() {
            var yearMonth =  $("#expenseMonth").val();
            var year = parseInt(yearMonth / 100);
            var month = yearMonth % 100;
            var days = generateDays(year, month);
            var expenses = new Array(days.length).fill(0);
            var totalExpenseThisMonth = 0;
            $.each(expenseMap[yearMonth], function (i, item) {
                expenses[item.dayInMonth - 1] += item.amountInCents;
                totalExpenseThisMonth += item.amountInCents;
            });
            $("#expenseChartContainer").empty();
            $("#expenseChartContainer").append("<canvas id='expenseChart'></canvas>");
            var expenseChartCtx = document.getElementById('expenseChart').getContext('2d');
            var expenseChart = new Chart(expenseChartCtx, {
                type: 'bar',
                data: {
                    labels: days,
                    datasets: [{
                        label: '单位（分）',
                        backgroundColor: 'rgb(128, 128, 128, 0.8)',
                        borderColor: 'rgb(128, 128, 128, 0.8)',
                        data: expenses
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: year + '年' + month + '月支出情况：' + totalExpenseThisMonth + '分',
                        fontSize: 36
                    },
                    scales: {
                        yAxes:[{
                            scaleLabel: {
                                display: true,
                                labelString: "金额，单位（分）"
                            }
                        }],
                        xAxes:[{
                            scaleLabel: {
                                display: true,
                                labelString: "单位（日）"
                            }
                        }]
                    }
                }
            });
        }

        function changeIncomeChart() {
            var yearMonth =  $("#incomeMonth").val();
            var year = parseInt(yearMonth / 100);
            var month = yearMonth % 100;
            var days = generateDays(year, month);
            var incomes = new Array(days.length).fill(0);
            var totalIncomeThisMonth = 0;
            $.each(incomeMap[yearMonth], function (i, item) {
                incomes[item.dayInMonth - 1] += item.amountInCents;
                totalIncomeThisMonth += item.amountInCents;
            });
            $("#incomeChartContainer").empty();
            $("#incomeChartContainer").append("<canvas id='incomeChart'></canvas>");
            var incomeChartCtx = document.getElementById('incomeChart').getContext('2d');
            var incomeChart = new Chart(incomeChartCtx, {
                type: 'bar',
                data: {
                    labels: days,
                    datasets: [{
                        label: '单位（分）',
                        backgroundColor: 'rgb(128, 128, 128, 0.7)',
                        borderColor: 'rgb(128, 128, 128, 0.7)',
                        data: incomes
                    }],
                },
                options: {
                    title: {
                        display: true,
                        text: year + '年' + month + '月收入情况：' + totalIncomeThisMonth + '分',
                        fontSize: 36
                    },
                    scales: {
                        yAxes:[{
                            scaleLabel: {
                                display: true,
                                labelString: "单位（分）"
                            }
                        }],
                        xAxes:[{
                            scaleLabel: {
                                display: true,
                                labelString: "单位（日）"
                            }
                        }]
                    }
                }
            });
        }

        function showSearchPhoneModal(selector) {
            $('#writeBackSelector').val(selector);
            $('#phone').val("");
            $('#phoneSearchModal').modal("show");
        }

        function searchUserByPhone() {
            var writeBackSelector = $("#writeBackSelector").val();
            $.ajax({
                type:"POST",
                url:"/user/searchByPhone",
                dataType : 'json',
                data: {
                    "encryptedPhone": $.md5($("#phone").val())
                },
                success:function (data) {
                    if (data != null){
                        $(writeBackSelector).val(data.address);
                        $("#phoneSearchModal").modal("hide");
                    } else{
                        alert("用户未找到");
                    }
                }
            })
        }

        function generateDays(year, month) {
            var daysNumber = new Date(year, month, 0).getDate();
            var days = [];
            for (var i = 0; i < daysNumber; ++i) {
                days[i] = i + 1;
            }
            return days;
        }

        function timestampToTime(timestamp) {
            var date = new Date(timestamp);
            Y = date.getFullYear() + '-';
            M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
            D = date.getDate() + ' ';
            h = date.getHours() + ':';
            m = (date.getMinutes() < 10 ? '0'+(date.getMinutes()) : date.getMinutes()) + ':';
            s = (date.getSeconds() < 10 ? '0'+(date.getSeconds()) : date.getSeconds());
            return Y+M+D+h+m+s;
        }
    </script>

    <style type="text/css">
        .table-striped > tbody > tr:nth-child(2n+1) > td,
        .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: rgb(242, 245, 247);
        }
    </style>
</th:block>
</body>
</html>