<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="dashboard">

<head>
    <title>政策公告</title>
    <link href="../static/css/bootstrap/fileinput.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap/bootstrap-toggle.min.css" rel="stylesheet">
</head>
<body>
<h2 layout:fragment="title">
    政策公告
</h2>
<div layout:fragment="content" style="width:90%;">
    <div id="displayInfoPanel">
        <div class="clearfix" style="margin-bottom: 10px">
            <div style="float: right">
                <button th:if="${user.canPublishInfo()}" class="btn btn-default" onclick="showPublishInfoPanel()">
                    发布公告
                </button>
                <label for="hideOrShowInfoTrigger">显示隐藏公告</label>
                <input id="hideOrShowInfoTrigger" data-toggle="toggle" data-on="是" data-off="否" type="checkbox" onchange="hideOrShowInfo()">
            </div>
        </div>
        <div th:each="info,iterstat: ${infoList}">
            <div class="info panel panel-default col-sm-6" th:id="'info'+${info.idx}" th:attr = "visible = ${info.prop.visible}">
                <div class="panel-heading">
                    <h3 class="panel-title" th:text="${info.title}">标题</h3>
                </div>
                <div class="panel-body">
                    <input type="hidden" th:id="'title'+${info.idx}" th:value="${info.title}">
                    <input type="hidden" th:id="'content'+${info.idx}" th:value="${info.content}">
                    <input type="hidden" th:id="'authorName'+${info.idx}" th:value="${info.authorName}">
                    <input type="hidden" th:id="'authorHash'+${info.idx}" th:value="${info.authorHash}">
                    <input type="hidden" th:id="'visible'+${info.idx}" th:value="${info.prop.visible}">
                    <input type="hidden" th:id="'remark'+${info.idx}" th:value="${info.prop.remark}">
                    <input type="hidden" th:id="'publishTime'+${info.idx}" th:value="${#dates.format(info.timestamp, 'yyyy-MM-dd HH:mm:ss')}">
                    <input type="hidden" th:id="'fileCount'+${info.idx}" th:value="${info.attachments.size()}">
                    <div th:each="fileHash,fileStat : ${info.attachments}" th:if="${not #maps.isEmpty(info.attachments)}">
                        <input type="hidden" th:id="'file-'+${info.idx} + '-' +${fileStat.index}" th:attr="fileHash = ${fileStat.current.key}, fileName = ${fileStat.current.value}">
                    </div>

                    <p th:text="${info.content}" style="display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;">内容</p>
                    <HR style="FILTER: alpha(opacity = 0,finishopacity = 100,style = 1)" width="100%" color=#333333 SIZE=3>
                    <div class="clearfix">
                        <small>发布于<span th:text="${#dates.format(info.timestamp, 'yyyy-MM-dd HH:mm:ss')}"></span></small>
                        <button class="btn btn-default" onclick="showDetail(this)" style="float:right" th:attr = "idx = ${info.idx}">
                            查看详情
                        </button>
                        <button th:if="${user.canPublishInfo()}" class="btn btn-default" onclick="showEditPropModal(this)" style="float:right" th:attr = "idx = ${info.idx}">
                            修改属性
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="paginator" style="text-align: center"> <ul id="pageLimit"></ul> </div>
    </div>

    <div id="publishInfoPanel" class="form-horizontal" hidden="hidden">
        <h3  class="col-sm-offset-1" style="text-align: center"><b>发布公告</b></h3>
        <div class="form-group">
            <label for="infoTitle" class="col-sm-1 control-label">标题</label>
            <div class="col-sm-11">
                <input type="text" name="title" class="form-control" id="infoTitle" placeholder="请输入标题">
            </div>
        </div>
        <div class="form-group">
            <label for="infoContent" class="col-sm-1 control-label">内容</label>
            <div class="col-sm-11">
                <textarea rows="8" name="content" class="form-control" id="infoContent" placeholder="请输入内容"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="attachments" class="col-sm-1 control-label">添加附件</label>
            <div class="col-sm-11 form-inline">
                <input id="attachments" multiple type="file" name="attachments" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button class="btn btn-default" onclick="showDisplayInfoPanel()">取消</button>
                <button class="btn btn-primary" onclick="submitInfo()">发布</button>
            </div>
        </div>
    </div>

    <div id="detailInfoPanel" hidden="hidden">
        <button class="btn btn-default" onclick="showDisplayInfoPanel()" style="margin-bottom: 10px">←返回</button>
        <p><small>* 标题/正文数据来自<b>区块链</b></small></p>
        <p><small>* 附件来自<b>IPFS</b></small></p>
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">
                <h2 id="detailTitle"></h2>
                <small><b id="detailAuthor"></b> 发布于 <b id="detailPublishTime"></b> 显示状态：<b id="detailInfoVisible"></b></small>
            </div>
            <div class="panel-body">
                <p id="detailInfoRemark"></p>
                <HR style="FILTER: alpha(opacity = 0,finishopacity = 100,style = 1)" width="80%" color=#333333 SIZE=4>
                <p id="detailContent"></p>
            </div>
            <div class="panel-footer" id="detailFiles">
            </div>
        </div>
    </div>

    <div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="editTitle">
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="editIdx">
                    <label for="editVisiblityTrigger">显示状态</label>
                    <input id="editVisiblityTrigger" data-toggle="toggle" data-on="正常" data-off="隐藏" type="checkbox">
                    <div style="margin-top: 10px;">
                        <label for="editRemark">备注</label>
                        <textarea rows="8" name="content" class="form-control" id="editRemark" placeholder="请输入备注"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="editInfoProp()">
                        提交更改
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
<th:block layout:fragment="bottomScriptBlock">
    <script type="text/javascript" src="../static/js/bootstrap/fileinput.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/fileinput-locale-zh.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap-paginator.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.nav-item').children('ul').slideUp(300);
            $("#infoNav").slideDown(300);
            $("#infoNav").parent('li').addClass('nav-show').siblings('li').removeClass('nav-show');
            
            $(".info").each(function () {
                if ($(this).attr("visible")==0){
                    $(this).hide();
                }
            });

            $("#attachments").fileinput({
                language: 'zh', //设置语言
                uploadUrl: "/publicity/uploadInfo", //上传的地址
                allowedFileExtensions: ['jpg', 'gif', 'png','doc','docx','pdf','ppt','pptx','xls','xlsx'],//接收的文件后缀
                uploadAsync: false, //默认异步上传
                showUpload: false, //是否显示上传按钮
                showRemove : true, //显示移除按钮
                showPreview : true, //是否显示预览
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                //dropZoneEnabled: true,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                maxFileSize: 10000,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                //maxFileCount: 10, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates :{
                    // actionDelete:'', //去除上传预览的缩略图中的删除图标
                    actionUpload:'',//去除上传预览缩略图中的上传图片；
                    actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
                },
                uploadExtraData:function () {
                    return {
                        "title": $("#infoTitle").val(),
                        "content": $("#infoContent").val()
                    };
                }
            }).on("filebatchuploadsuccess", function (event, data, previewId, index) {
                alert('公告发布成功！');
                window.location.href="/publicity/info";
            }).on('filebatchuploaderror', function(event, data, msg) {
                alert('公告发布失败！');
            });


            $('#pageLimit').bootstrapPaginator({
                currentPage: [[${page}]],
                totalPages: [[${totalPage}]],
                size:"normal",
                bootstrapMajorVersion: 3,
                alignment:"right",
                numberOfPages:5,
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first": return "首页";
                        case "prev": return "上一页";
                        case "next": return "下一页";
                        case "last": return "末页";
                        case "page": return page;
                    }
                },
                pageUrl:function (type, page, current) {
                    return "/publicity/info?page=" + page;
                }
            });

            var info = "[[${info}]]";
            if (info != null && info.length>0){
                alert(info);
            }
        });
        function submitInfo() {
            $("#attachments").fileinput("upload");
        }
        function hideOrShowInfo() {
            if ($("#hideOrShowInfoTrigger").prop("checked")){
                $(".info").each(function () {
                    if ($(this).attr("visible")==0){
                        $(this).show();
                    }else{
                        $(this).hide();
                    }
                });
            } else{
                $(".info").each(function () {
                    if ($(this).attr("visible")==0){
                        $(this).hide();
                    }else{
                        $(this).show();
                    }
                });
            }
        }
        function showPublishInfoPanel() {
            $("#detailInfoPanel").hide();
            $("#displayInfoPanel").hide();
            $("#publishInfoPanel").show();
        }
        function showDisplayInfoPanel() {
            $("#detailInfoPanel").hide();
            $("#publishInfoPanel").hide();
            $("#displayInfoPanel").show();
        }
        function showDetail(info){
            $("#publishInfoPanel").hide();
            $("#displayInfoPanel").hide();

            var idx = $(info).attr("idx");

            var title = "<b>【标题】</b>" + $("#title"+idx).val();
            $("#detailTitle").html(title);

            var content = "<p><b>【正文】</b></p>" + $("#content"+idx).val();
            $("#detailContent").html(content);

            var remark = "<p><b>【备注】</b></p>" + $("#remark"+idx).val();
            $("#detailInfoRemark").html(remark);

            if ($("#visible"+idx).val() == 1){
                $("#detailInfoVisible").html("正常");
            } else{
                $("#detailInfoVisible").html("隐藏");
            }
            $("#detailAuthor").html($("#authorName"+idx).val() + '(' + $("#authorHash"+idx).val() + ')');
            $("#detailPublishTime").html($("#publishTime"+idx).val());
            var fileCount = $("#fileCount" + idx).val();
            if (fileCount == 0){
                $("#detailFiles").hide();
            } else{
                var ul = '<p>【附件】</p><ul class="list-group">';
                for (var i= 0; i<fileCount; ++i){
                    var fileId = "#file-"+idx+"-"+i;
                    var fileHash = $(fileId).attr("fileHash");
                    var fileName = $(fileId).attr("fileName");
                    ul += '<li class="list-group-item">';
                    ul += '<a onclick="downloadFile(\'' + fileHash + '\',\'' + fileName +'\')" >';
                    ul += fileName;
                    ul += '</a></li>';
                }
                ul += '</ul>'
                $("#detailFiles").html(ul);
                $("#detailFiles").show();
            }
            $("#detailInfoPanel").show();
        }

        function showEditPropModal(info) {
            var idx = $(info).attr("idx");
            $('#editIdx').val(idx);
            $('#editRemark').val($("#remark"+idx).val());
            if ($("#visible"+idx).val() == 1){
                $('#editVisiblityTrigger').prop("checked", true).change();
            } else{
                $('#editVisiblityTrigger').prop("checked", false).change();
            }
            $('#editInfoModal').modal("show");
        }

        function editInfoProp() {
            var idx = $("#editIdx").val();
            var visible = 0;
            if ($("#editVisiblityTrigger").prop("checked")){
                visible = 1;
            }
            var remark = $("#editRemark").val();
            $.ajax({
                type:"POST",
                url:"/publicity/updateInfoProp",
                contentType : 'application/json',
                dataType : 'json',
                data:JSON.stringify({
                    "idx": idx,
                    "visible": visible,
                    "remark": remark
                }),
                success:function (data) {
                    alert("修改成功");
                    var infoId = "#info" + idx;
                    if ($(infoId).attr("visible") != visible){
                        $(infoId).attr("visible",visible);
                        $(infoId).hide();
                        $("#visible"+idx).val(visible)
                    }
                    $("#remark"+idx).val(remark);
                    $("#editInfoModal").modal("hide");
                }
            })
        }
    </script>
</th:block>
</body>
</html>