<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>上传keystore</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <link rel="stylesheet" href="../static/css/bootstrap/fileinput.min.css">
</head>
<body background="../static/image/login-background.jpg">
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-offset-3 col-md-6">
            <div id="loginForm" class="form-horizontal">
                <span class="heading">上传keystore</span>
                <input id="keystore" type="file" name="keystore" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/jquery/jquery.md5.js"></script>
<script type="text/javascript" src="../static/js/bootstrap/fileinput.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap/fileinput-locale-zh.js"></script>
<script type="text/javascript">
     $(function () {
         $("#keystore").fileinput({
             language: 'zh', //设置语言
             uploadUrl: "/login/validateKeystore", //上传的地址
             allowedFileExtensions: ['json'],//接收的文件后缀
             uploadAsync: false, //默认异步上传
             showUpload: true, //是否显示上传按钮
             showRemove : true, //显示移除按钮
             showPreview : true, //是否显示预览
             showCaption: false,//是否显示标题
             browseClass: "btn btn-primary", //按钮样式
             //dropZoneEnabled: true,//是否显示拖拽区域
             maxFileSize: 100,//单位为kb，如果为0表示不限制文件大小
             minFileCount: 1,
             //maxFileCount: 10, //表示允许同时上传的最大文件个数
             enctype: 'multipart/form-data',
             validateInitialCount:true,
             previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
             msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
             layoutTemplates :{
                 // actionDelete:'', //去除上传预览的缩略图中的删除图标
                 actionUpload:'',//去除上传预览缩略图中的上传图片；
                 actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
             }
         }).on("filebatchuploadsuccess", function (event, data, previewId, index) {
             alert('验证成功！');
             window.location.href="/publicity/info";
         }).on("filebatchuploaderror", function (event, data, msg) {
             alert('验证失败！');
         });

         var info = "[[${info}]]";
         if (info != null && info.length>0){
             alert(info);
         }
     });
</script>
</body>
</html>