<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <link href="../static/css/bootstrap/fileinput.min.css" rel="stylesheet">
</head>
<body background="../static/image/login-background.jpg">
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-offset-3 col-md-6">
            <div id="loginForm" class="form-horizontal">
                <span class="heading">区块链物业管理系统</span>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="密　码">
                </div>
                <div>
                    <input id="keystore" type="file" name="keystore" />
                </div>
                <div class="clearfix">
                    <span>没有账号？请前往<a href="/register">注册</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/jquery/jquery.md5.js"></script>
<script type="text/javascript" src="../static/js/bootstrap/fileinput.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap/fileinput-locale-zh.js"></script>
<script type="text/javascript">
     $(function () {
         $("#keystore").fileinput({
             language: 'zh', //设置语言
             uploadUrl: "/login/validate", //上传的地址
             allowedFileExtensions: ['json'],//接收的文件后缀
             uploadAsync: false, //默认异步上传
             showUpload: true, //是否显示上传按钮
             showRemove : true, //显示移除按钮
             showPreview : true, //是否显示预览
             showCaption: false,//是否显示标题
             browseClass: "btn btn-primary", //按钮样式
             //dropZoneEnabled: true,//是否显示拖拽区域
             dropZoneTitle:"可拖拽上传keystore文件",
             maxFileSize: 20,//单位为kb，如果为0表示不限制文件大小
             //minFileCount: 0,
             //maxFileCount: 10, //表示允许同时上传的最大文件个数
             enctype: 'multipart/form-data',
             validateInitialCount:true,
             previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
             msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
             layoutTemplates :{
                 // actionDelete:'', //去除上传预览的缩略图中的删除图标
                 actionUpload:'',//去除上传预览缩略图中的上传图片；
                 actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
             },
             uploadLabel: "上传keystore",
             uploadExtraData:function () {
                 return {
                     "md5Password": $.md5($("#password").val())
                 };
             }
         }).on("filebatchuploadsuccess", function (event, data, previewId, index) {
             if (data.response == 200){
                 alert('验证成功！');
                 window.location.href="/credit";
             } else {
                 alert('验证失败！请检查keystore文件或者密码是否正确');
                 window.location.reload();
             }

         }).on("filebatchuploaderror", function (event, data, msg) {
             alert('keystore文件上传失败！');
         });


         var info = "[[${info}]]";
         if (info != null && info.length>0){
             alert(info);
         }
     });

    function checkForm() {
        var cellphone = $("#cellphone").val().trim();
        var password = $("#password").val();
        if (cellphone == "") {
            alert("账号为空！");
            return false;
        }
        if (password == "") {
            alert("密码为空!");
            return false;
        }
        $("#cellphone").val(cellphone);
        $("#password").val($.md5(password))
        $("#loginForm").submit();
    }
</script>
</body>
</html>