<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <link href="../static/css/bootstrap/fileinput.min.css" rel="stylesheet">
</head>
<body background="../static/image/login-background.jpg">
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-offset-3 col-md-6">
            <div id="registerForm" class="form-horizontal">
                <span class="heading">区块链物业管理系统</span>
                <div class="radio">
                    <label>
                        <input type="radio" name="accountType" id="proprietorAccountType" value="option1" checked> 业主账号
                    </label>
                    <label>
                        <input type="radio" name="accountType" id="propertyAccountType" value="option2"> 物业账号
                    </label>
                </div>
                <br>
                <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label">手机号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="手机号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="activeCode" class="col-sm-2 control-label">注册码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="activeCode" id="activeCode" placeholder="注册码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">设置密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="password" placeholder="密　码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmedPassword" class="col-sm-2 control-label">再次输入密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="confirmedPassword" id="confirmedPassword" placeholder="再次输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nickName" class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="nickName" id="nickName" placeholder="昵称">
                    </div>
                </div>
                <div style="float: right">
                    <button id="registerBtn" class="btn btn-default" onclick="register()">注册</button>
                </div>
                <div class="clearfix">
                    <span>已有账号？请前往<a href="/login">登录</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="editTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">
                        请下载KeyStore文件，并妥善保存，用于登录
                    </h4>
                </div>
                <div class="modal-body">
                    <a class="btn btn-primary" onclick="downloadKeystore()" >下载KeyStore文件</a>
                    <a class="btn btn-default" onclick="goToLoginPage()" id="goToLoginPageBtn">前往登录页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery/jquery.md5.js"></script>
<script type="text/javascript">

    var filePath;

    function register() {
        var phone = $("#phone").val().trim();
        var activeCode = $("#activeCode").val().trim();
        var password = $("#password").val();
        var confirmedPassword = $("#confirmedPassword").val();
        var nickName = $("#nickName").val();
        if (phone == "" || activeCode == "" || password == "" || confirmedPassword=="" || nickName=="") {
            alert("请填写完整信息！");
            return;
        }
        if (password != confirmedPassword) {
            alert("密码输入不一致!");
            return;
        }
        var url = '/register/proprietor';
        if ($("#propertyAccountType").prop("checked")){
            url = '/register/property';
        }

        $.ajax({
            type:"POST",
            url: url,
            dataType : 'json',
            data:{
                "activeCode": activeCode,
                "encryptedPhone": $.md5(phone),
                "md5Psw": $.md5(password),
                "nickName": nickName
            },
            success:function (data) {
                filePath = data.filePath;
                $("#goToLoginPageBtn").hide();
                $('#downloadModal').modal("show");
            }
        })
    }

    function downloadKeystore() {
        var form=$("<form>");
        form.attr("style","display:none");
        form.attr("target","");
        form.attr("method","post");
        form.attr("action","/download/keystore");

        var filePathInput = $("<input>")
        filePathInput.attr("type","text");
        filePathInput.attr("name","filePath");
        filePathInput.attr("value",filePath);
        form.append(filePathInput);

        $("body").append(form);
        form.submit();

        $("#goToLoginPageBtn").show();
    }

    function goToLoginPage() {
        window.location.href="/login";
    }
</script>
</body>
</html>