<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garvey.property.dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.garvey.property.model.Reply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="author_id" jdbcType="VARCHAR" property="authorId" />
    <result column="discussion_id" jdbcType="BIGINT" property="discussionId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.garvey.property.model.Reply">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, author_id, discussion_id, create_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="getRepliesCount" resultType="java.lang.Long">
    select count(*)
    from reply
    where discussion_id = #{discussionId}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from reply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getReplies" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from reply
    where discussion_id = #{discussionId}
    order by create_time asc
    limit #{pageSize} offset #{offset}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.garvey.property.model.Reply">
    insert into reply (id, author_id, discussion_id, 
      create_time, content)
    values (#{id,jdbcType=BIGINT}, #{authorId,jdbcType=VARCHAR}, #{discussionId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.garvey.property.model.Reply">
    insert into reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="discussionId != null">
        discussion_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="discussionId != null">
        #{discussionId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.garvey.property.model.Reply">
    update reply
    <set>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="discussionId != null">
        discussion_id = #{discussionId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.garvey.property.model.Reply">
    update reply
    set author_id = #{authorId,jdbcType=VARCHAR},
      discussion_id = #{discussionId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.garvey.property.model.Reply">
    update reply
    set author_id = #{authorId,jdbcType=VARCHAR},
      discussion_id = #{discussionId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>