<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garvey.property.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.garvey.property.model.db.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cellphone" jdbcType="VARCHAR" property="cellphone"/>
        <result column="realName" jdbcType="VARCHAR" property="realname"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickname"/>
        <result column="md5Password" jdbcType="VARCHAR" property="md5password"/>
        <result column="md5Id" jdbcType="VARCHAR" property="md5id"/>
        <result column="role" jdbcType="TINYINT" property="role"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, cellphone, realName, nickName, md5Password, md5Id, role
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByCellphone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where cellphone = #{cellphone,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.garvey.property.model.db.User">
    insert into user (id, cellphone, realName, 
      nickName, md5Password, md5Id, 
      role)
    values (#{id,jdbcType=BIGINT}, #{cellphone,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{md5password,jdbcType=VARCHAR}, #{md5id,jdbcType=VARCHAR}, 
      #{role,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.garvey.property.model.db.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cellphone != null">
                cellphone,
            </if>
            <if test="realname != null">
                realName,
            </if>
            <if test="nickname != null">
                nickName,
            </if>
            <if test="md5password != null">
                md5Password,
            </if>
            <if test="md5id != null">
                md5Id,
            </if>
            <if test="role != null">
                role,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cellphone != null">
                #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="md5password != null">
                #{md5password,jdbcType=VARCHAR},
            </if>
            <if test="md5id != null">
                #{md5id,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.garvey.property.model.db.User">
        update user
        <set>
            <if test="cellphone != null">
                cellphone = #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                realName = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickName = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="md5password != null">
                md5Password = #{md5password,jdbcType=VARCHAR},
            </if>
            <if test="md5id != null">
                md5Id = #{md5id,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.garvey.property.model.db.User">
    update user
    set cellphone = #{cellphone,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      md5Password = #{md5password,jdbcType=VARCHAR},
      md5Id = #{md5id,jdbcType=VARCHAR},
      role = #{role,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>