<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garvey.property.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.garvey.property.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="double_encrypted_pwd" jdbcType="VARCHAR" property="doubleEncryptedPwd" />
    <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, double_encrypted_pwd, cellphone, real_name, nickName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByCellphone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where cellphone = #{cellphone,jdbcType=VARCHAR}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.garvey.property.model.User">
    insert into user (id, double_encrypted_pwd, cellphone, 
      real_name, nickName)
    values (#{id,jdbcType=BIGINT}, #{doubleEncryptedPwd,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.garvey.property.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="doubleEncryptedPwd != null">
        double_encrypted_pwd,
      </if>
      <if test="cellphone != null">
        cellphone,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="nickname != null">
        nickName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="doubleEncryptedPwd != null">
        #{doubleEncryptedPwd,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.garvey.property.model.User">
    update user
    <set>
      <if test="doubleEncryptedPwd != null">
        double_encrypted_pwd = #{doubleEncryptedPwd,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        cellphone = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.garvey.property.model.User">
    update user
    set double_encrypted_pwd = #{doubleEncryptedPwd,jdbcType=VARCHAR},
      cellphone = #{cellphone,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>